body {
    padding: 0px;
}

.pull-right {
    float: right;
}

.top-user-panel {
    height: 40px;
    background: #ccc;
    border-radius: 0px 0px 4px 4px;
    padding: 3px;
}

.top-user-panel .user-image img {
    width: 40px;
}

.top-user-panel .user-name,
.top-user-panel .user-money {
    margin-top: 6px;
}
