<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="It is actually a survey. User must choose which things are most important to spend money on. This tells me if they actually want a lot of less expensive things or one very expensive thing.">
    <meta name="author" content="Alex P">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('favicon') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('favicon') }}" />

</head>

<body>
  <div class="error">
    Sorry, you must login with an email that belongs to: {{ allowed_domains }}
  </div>.
</body>

</html>