{%- extends 'index.html' -%}

{%- block head_title -%}
{% set title='Welcome!' %}
<title>{{ title }}</title>
{%- endblock head_title -%}

{%- block container -%}
  <div class="surveys-panel">
    <div class="row">
      <div class="twelve columns">
        {%- for survey in surveys -%}
          <div class="survey" data-survey-id="{{id}}">
            <h5 class="survey-name">{{survey.name}} (${{survey.dollars}})</h5>
            {%- if survey.started -%}
            <span class="survey-started">Survey started, available balance: ${{survey.balance}}.
            <a href="{{ url_for('survey', survey_id=survey.id) }}">Continue&gt;&gt;</a></span>
            {%- else -%}
            <span class="survey-not-started">New survey with balance ${{survey.dollars}}.
            <a href="{{ url_for('survey', survey_id=survey.id) }}">Start&gt;&gt;</a></span>
            {%- endif -%}
            <div class="survey-desc">{{survey.description}}</div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
{%- endblock container -%}

{%- block page_javascript -%}
  {{ super() }}

  <script type="text/javascript">
    $(function() {
        var pageModel = new HomePageModel({
        })
    });
  </script>

{%- endblock page_javascript -%}
