{%- extends 'index.html' -%}

{%- block user_info_column -%}
<div class="user-amount" style="display: none">
  Amount: $<span class="amount"></span>
</div>
{%- endblock user_info_column -%}

{%- block surveys_list -%}
<ul class="list-unstyled surveys-list">
  {%- for survey in surveys -%}
    <li id="survey-{{survey.id}}">
      <a href="javascript:void(0);" data-survey-id="{{survey.id}}" data-toggle="tooltip" title="{{survey.description}}">
        <i class="fa fa-list"></i>
        <span class="nav-label">
          <span class="survey-name">{{survey.name}}</span> (${{survey.balance if survey.started else survey.dollars}})
        </span>
      </a>
    </li>
  {%- endfor -%}
</ul>
{%- endblock surveys_list -%}

{%- block content -%}
<div class="select-survey">
  <h2>What is Fritter?</h2>
  <p>The goal of Fritter is to help Product Managers prioritize their backlog. Product Managers use fritter to conduct user surveys to answer the question "Which features are most 
  important to you?"</p>
  <h2>How are Fritter surveys unique?</h2>
  <p>Fritter Surveys force respondants to consider the scope of a feature. Everyone gets a certain amount of money, say $400, and each feature costs something. Respondants can choose many small features, or one big feature, but not both.</p>
  <h2>Why force respondants into considering scope?</h2>
  <p>Because you, as a PM, prioritize things based on Scope.</p>
  <h2>How do I create a survey?</h2>
  <p>
    <ol>
      <li>Compile a list of feature requests that you have not prioritized</li>
      <li>Ask your engineering lead to help you size each feature in terms of XS, S, M, L, and XL</li>
      <li>Create a YAML file, based on the example [here](https://github.com/mreider/fritter/blob/master/yamls/survey1.yml)</li>
      <li>Upload the YAML file to /uploadyaml and send an email to your users to complete the Survey.</li>
    </ol>
  </p>
  <h2>How did you come up with the amount of money to give respondants, and the dollar amounts for XS, S, M, L, and XL sizes?</h2>
  <p>I wanted the survey to give enough $ for users to buy features for about one release cycle. The XL stories felt like they would take about that long.
  It also felt like you could do about 40 XS stories for a release cycle. Sure, complexity is different than time, we know that. These are best guesses, and it's not scientific. 
  </p>
  <h2>How do you delete / modify the surveys, users and responses?</h2>
  <p>This application was built in only 2 days. It's not very full featured. If you want to modify surveys, users, and responses, you can use SQL.</p>
</div>
<div class="items-list"></div>
{%- endblock content -%}

{%- block page_javascript -%}
  {{ super() }}

  <script type="text/javascript">
    $(function() {
        var pageModel = new SurveysModel({
            itemsServiceUrl: '{{ url_for('service.item_service.service_item_view') }}',
            commentsServiceUrl: '{{ url_for('service.comment_service.service_comment_view') }}'
        });
    });

  </script>

  {%- raw -%}
  <script type="text/template" id="item-template">
    <div class="item" data-item-id="{{id}}">

      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#item-overview-{{id}}" role="tab" data-toggle="tab">Overview</a></li>
        <li><a href="#item-comments-{{id}}" role="tab" data-toggle="tab" class="comments-header">Comments (<span class="comments-count">{{comments_count}}</span>)</li></a>
      </ul>

      <div class="tab-content">
        <div class="panel panel-default tab-pane tabs-up active item-overview" id="item-overview-{{id}}">
          <div class="panel-body">
            <h2 class="item-head item-name">{{name}} (${{price}})</h2>

            <div class="item-desc">{{description}}</div>

            <div class="item-controls">
                <a class="btn btn-default button-purchase" href="javascript:void(0)">Purchase</a>
                <a class="btn btn-default button-sell" href="javascript:void(0)">Sell</a>
            </div>

            <div class="who-bought-wrap">
              <div class="who-bought-head">Users who bought this item:</div>
              <div class="who-bought-body"></div>
            </div>

          </div>
        </div>

        <div class="panel panel-default tab-pane tabs-up item-comments messages" id="item-comments-{{id}}">
          <div class="panel-body">
            <h4 class="item-comments-head">
              Comments to "{{name}}"
            </h4>
            <div class="item-comments-body">
              <div class="comments-loading">
                <img src="/static/img/loading.gif" />
              </div>
            </div>
          </div>

          <div class="panel-footer">
            <form role="form" class="">
              <div class="input-group">
                <input type="text" placeholder="Message here..." class="form-control comment-content">
                <span class="input-group-btn">
                  <button type="button" class="btn-success btn add-comment">Post</button>
                </span>
              </div>
              </form>
          </div>


        </div>
      </div>
  </script>

  <script type="text/template" id="who-bought">
    {{#users}}
    <img class="img-circle bought-avatar" alt="{{name}}" src="{{avatar}}" title="{{name}}" />
    {{/users}}
  </script>

  <script type="text/template" id="comment-template">
    <div class="comment">
      <div class="media">
        <a href="#" class="pull-left">
          <img alt="user" class="media-object" src="{{user.avatar}}"  title="{{user.name}}"/>
        </a>

        <div class="media-body">
          <h5 class="media-heading"><strong>{{user.name}}</strong></h5>
          <p class="text-muted no-margn comment-content">{{comment}}</p>
        </div>
      </div>
    </div>
  </script>
  {%- endraw -%}

{%- endblock page_javascript -%}
