{%- extends 'index.html' -%}

{%- block head_title -%}
<title>Load YAML file and create new survey</title>
{%- endblock head_title -%}

{%- block content -%}
  <div class="items-panel">
    <div class="row">
      <div class=".col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form name="yaml_upload {{ 'errors' if errors else '' }}" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label>Please choose YAML file to upload</label>
            <input type="file" id="yaml" name="yaml" class="form-control" />
          </div>
          <input type="submit" value="Upload YAML" class="btn btn-default"/>
        </form>
      </div>
    </div>
  </div>
{%- endblock content -%}
