{%- extends 'index.html' -%}

{%- block user_info_column -%}
  <span>Amount: </span>
  $<span class="amount">{{ wallet.dollars }}</span>
{%- endblock user_info_column -%}

{%- block user_last_column -%}
<a href="{{ url_for('home') }}">&#8592; Back to surveys list</a>
{%- endblock user_last_column -%}

{%- block container -%}
  <div class="items-panel">
    <div class="row">
      <div class="twelve columns">
        <div class="items-list">
        </div>
      </div>
    </div>
  </div>

  {%- endblock container -%}

{%- block page_javascript -%}
  {{ super() }}

  {%- raw -%}
  <script type="text/template" id="item-template">
    <div class="item" data-item-id="{{id}}">
      <h5 class="item-head item-name">{{name}} (${{price}})</h5>
      <div>
        <div class="item-desc">{{description}}</div>
        <div class="item-controls">
            <a class="button button-purchase" href="javascript:void(0)">Purchase</a>
            <a class="button button-sell" href="javascript:void(0)">Sell</a>
        </div>
      </div>
      <div class="who-bought-wrap collapse" style="display: none">
        <div class="collapse-head">See who also bought this item:</div>
        <div class="who-boughts collapse-body" style="display: none"></div>
      </div>
      <div class="comments-wrap collapse">
        <h5 class="comments-head collapse-head">Comments (<span class="comments-count">{{comments_count}}</span>)</h5>
        <div class="comments collapse-body" style="display: none"></div>
      </div>
    </div>
  </script>

  <script type="text/template" id="comment-template">
    <div class="comment">
      <div class="pull-left" class="comment-author">
        <div class="comment-author">
          <div style="background-image: url({{user.avatar}})" class="comment-avatar"></div>
          <div class="comment-name">{{user.name}}</div>
        </div>
      </div>
      <div class="comment-content">{{comment}}</div>
    </div>
  </script>

  <script type="text/template" id="add-comment-template">
    <div class="add-comment">
      <textarea class="add-comment-content"></textarea>
      <a class="button add-comment-send">Send</a>
    </div>
  </script>

  <script type="text/template" id="who-bought">
    {{#users}}
      <div class="user-also-bought">
        <div class="bought-autor">
          <div style="background-image: url({{avatar}})" class="bought-avatar"></div>
          <div class="bought-name">{{name}}</div>
        </div>
      </div>
    {{/users}}
  </script>
  {%- endraw -%}

  <script type="text/javascript">
    $(function() {
        var pageModel = new SurveyPageModel({
            itemsServiceUrl: '{{ url_for('service.item_service.service_item_view') }}',
            commentsServiceUrl: '{{ url_for('service.comment_service.service_comment_view') }}'
        })

    });
  </script>


{%- endblock page_javascript -%}
