.flashes {
    margin-top: 5px;
    margin-bottom: 5px;
}

.flashes .flash {
    padding: 4px 7px;
    cursor: pointer;
    border-radius: 6px;
}

.flashes .flash.error {
    background: #faa;
}

.flashes .flash.success {
    background: #afa;
}

.flashes .flash.message,
.flashes .flash.warning {
    background: #dd6;
}

.who-bought-body img {
    width: 40px;
}

.item-controls {
    margin-top: 15px;
    margin-bottom: 15px;
}

.button-purchase, .button-sell {
    font-weight: bold;
    color: black;
}

.button-purchase[disabled], .button-sell[disabled] {
    color: lightgray;
}

.item-comments-body .comments-loading {
    text-align: center;
}

.item-comments-body .comments-loading img {
    width: 100px;
}

.comment .comment-author img {
    width: 40px;
}

.comment-author>div {
    display: inline-block;
}
